{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novo projeto.</title>
    {% bootstrap_css %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">FTT</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'index' %}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Serviços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'projetos' %}">Projetos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1>Cadastre um novo projeto:</h1>
      {% bootstrap_messages %}

      <form
        action=""
        method="POST"
        class="form"
        autocomplete="off"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {% bootstrap_form form %} {% buttons %}
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        {% endbuttons %}
      </form>
    </div>

    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
